<div class="dash-area">
   <div class="wrapper">
    <div class="whitepanel"><h4>您可以在这里下载到高清视频资料</h4><h5><a href="http://pan.baidu.com/s/1o65eLFc">http://pan.baidu.com/s/1o65eLFc</a>  提取密码：4oer</h5></div><br>
    <div class="titlebar">
        <div>视频培训教程</div>
    </div>

     <div class="whitepanel">
    <h4>安装步骤教学</h4>
    <div><video SRC="edu.mp4" autostart="false" loop=false  units="pixels" height=480 width=660 controls="controls"></video></div>
    <h4>第二部分</h4>
    <div><video SRC="edu2.mp4" autostart="false" loop=false  units="pixels" height=480 width=660 controls="controls"></video></div>
   </div>
   </div>
</div>