<div class="dash-area">

    <p>
    <div class="wrapper">
    <p class="p0">
        本篇<span>Q&amp;A</span><span>旨在简洁明了地帮各位大使们解决常见问题。</span>
    </p>

    <div class="whitepanel">
        <p class="p0">
            <strong><span style="color:#E53333;">看完本篇</span></strong><span
                style="color:#E53333;"><strong>Q&amp;A</strong></span><span
                style="color:#E53333;"><strong>，你就已经在</strong></span><span style="color:#E53333;"><strong>15</strong></span><span
                style="color:#E53333;"><strong>分钟之内完成了校园大使的绝大部分培训内容。</span></strong>
        </p>


        <p class="p0">
            <strong><span style="font-size:16px;">Q1</span></strong>：如果我碰到了这篇<span>Q&amp;A</span><span>解决不了的问题，该怎么办？</span>
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A1</span></strong>：如果遇见了本篇<span>Q&amp;A</span><span>解决不了的问题，请向自己的</span>区域负责人。负责人无法解答的话，请拨打<strong><u><span
                style="font-size:14px;">4008-217-316</span></u></strong>。我们会将问题报备。
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>Q2</strong></span>：我加入的是一个怎样的团队？他们在做的是什么？
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>Q3</strong></span>：作为纷印校园大使，我要做哪些事情？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q4</span></strong>：在这样一个团队中我能学到什么？得到什么？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q5</span></strong>：去打印店和老板谈之前需要准备什么？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q6</span></strong>：什么是大使系统？该如何使用？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q7</span></strong>：在打印店和老板谈时，要注意什么？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q8</span></strong>：如何安装软件？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q9</span></strong>：兼职需要做哪些事情？我在哪里能找到兼职？钱怎么算？
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">Q10</span></strong>：宣传所需的传单海报在哪？
        </p>

        <p class="p0">
            &nbsp;
        </p>


        <p class="p0">
            <strong><span style="font-size:16px;">A2</span></strong><span>：</span>纷印是一家大学生创业公司，团队由上海各重点高校的本科、研究生组成。他们在做一款线上打印的互联网产品。
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A3</span></strong><span>：</span>校园大使总体来说需要做两方面事情：一是向打印店老板推广纷印，在打印店里安装纷印客户端。二是招聘兼职，在打印店里向同学推广纷印的网页和APP，当然也包括朋友圈、微博、人人的线上宣传。
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A4</span></strong><span>：</span>这是一个青春有梦想的团队，<span>0</span><span>成本</span><span>0</span><span>风险体验创业，诱人的资金报酬，交际、执行力、管理能力全面提升。
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A5</span></strong><span>：</span>去打印店和老板谈之前，需要看完总长十分钟的培训视频。备好<span>U</span><span>盘，内装最新版本的客户端安装包。下载地址：
        </p>

        <p class="p0">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:18px;"><strong><u>&nbsp;http://pan.baidu.com/s/1o65eLFc</u>&nbsp;&nbsp;提取密码：</strong></span><span
                style="font-size:18px;"><strong>4oer</strong></span>
        </p>

        <p class="p0">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册成为纷印校园大使，注册地址：
        <span
                style="font-size:18px;"><strong><u>ca.fenyin.me</u></strong></span>
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A6</span></strong><span>：</span>为了轻松大家工作，我们创建了校园大使系统，简单易懂。在我们创建新打印店、报销费用的时候<span style="color:#E53333;"><strong>一定</strong></span>会用到。
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A7</span></strong><span>：</span>让老板每天开机打开软件是第一要务。可以让老板试用一段时间，暂缓签订合同。尽量亲和，用其他打印店目前的优秀学校案例来获得老板的信任。
        </p>

        <p class="p0">
            <strong><span style="font-size:16px;">A8</span></strong><span>：</span>安装纷印软件之前，需要安装微软出品的<span>.NET&nbsp;4.0&nbsp;</span><span>以及</span><span>Adobe&nbsp;reader&nbsp;X</span><span>。具体流程</span>
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; 演示视频：</strong></span>
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;必看视频：<u>http://ca.fenyin.me/#/edu</u></strong></span>
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;两个软件下载地址：</strong></span>
        </p>

        <p class="p0">
            <span style="font-size:16px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>&nbsp;&nbsp;http://pan.baidu.com/s/1o65eLFc&nbsp;</u>&nbsp;提取密码：</strong></span><span
                style="font-size:16px;"><strong>4oer</strong></span>
        </p>
        </p>
    </div>
 </div>
    <p>
        <br/>
    </p>
</div>