<div class="dash-area">

    <div class="wrapper">
        <div class="titlebar">
            <div>打印店业务展示</div>
        </div>

        <div class="whitepanel showtoboss">



                <h3><strong>纷印使用流程展示：上传文档，设置格式，在线支付，到店扫码</strong></h3>
            <br>


            <h4>使用流程</h4>

                <p>随时随地：上传文档、版面配置、线上支付</p>

                <p>打印店：扫码取件</p>
            <div><video SRC="xc.mp4" autostart=false loop=false units="pixels" height=480 width=660 controls="controls"></div>

                <p>向老板展示视频</p>

                <p>&nbsp;</p>

                <h4>关于纷印</h4>

                <p>上海飞印文化传播有限公司创立创立于2014年4月，团队成员皆来自各校精英为主。主要业务为为高校学生提供互联网文件管理、打印等服务平台。曾获麻省理工大学MIT-CHIEF创业大赛中国区第四名；入围复旦聚劲杯创业大赛半决赛；同时受到多家媒体（如36Kr、动点科技、上海外语频道等）争相报道。团队于14年末已获得数百万元人民币天使投资，并将于15年中募集更多资金。同时，更在15年获得腾讯集团的认可，进驻上海唯一的腾讯创业基地。</p>

                <p>至14年成立至今，纷印云打印已是中国最大的高校云打印平台，更被其他著名的网络媒体誉为“2014年最佳印刷互联网平台”。</p>

                <p>&nbsp;</p>

                <h4>为什么要使用纷印？</h4>

                <p>纷印云打印服务皆对打印店本身以及学生带来了许多益处。打印店减少了许多不必要的麻烦，而学生增加了学习的效率，让大家都爱不释手。</p>

                <p>&nbsp;</p>

             <div class="columns">

                <h4>对打印店的好处：</h4>

                <ul>
                    <li>自助打印节省人力</li>
                    <li>降低电脑中毒风险</li>
                    <li><p>精确计算打印价格</p>

                        <p>&nbsp;</p>

                        <h4>对学生的好处：</h4></li>
                    <li>U盘不再遗失中毒</li>
                    <li>快速打印，节省排队时间</li>
                    <li><p>一个平台，取代公邮U盘</p>
                    </li>
                </ul>
             </div>
                        <p>&nbsp;</p>

                        <p>对打印店本身的益处，加上学生对于纷印的喜爱，各种原因都使得打印店的业务发展更加顺利的成长。</p>
                        &nbsp;



                <p>
                        <strong><span style=";font-family:宋体">相关报道</span></strong>
                    </p>

                    <p style="margin-left:0;text-align:justify;text-justify:inter-ideograph;text-indent:0">
                        <span style=";font-family:'Times New Roman','serif'">1、</span><span
                            style=";font-family:'Times New Roman','serif'">36Kr </span><span
                            style=";font-family:宋体">报道（</span><a href="http://36kr.com/p/218204.html"><span
                            style=";font-family:宋体">链接点我</span></a><span style=";font-family:宋体">）</span>
                    </p>
                    <!--    <p>
                            <span style=";font-family:;Times New Roman;,;serif;"><img src="a1.jpg" title="" alt="demo.jpg"/></span>
                        </p>-->
                    <p>
                        <span style="font-size:16px;font-family:;Times New Roman;,;serif;"><br clear="all"
                                                                                               style="page-break-before:always"/> </span>
                    </p>

                    <p style="margin-left:0;text-align:justify;text-justify:inter-ideograph;text-indent:0">
                        <span style=";font-family:'Times New Roman','serif'">2、</span><span
                            style=";font-family:'Times New Roman','serif'">i</span><span
                            style=";font-family:宋体">访谈</span><span
                            style=";font-family:'Times New Roman','serif'">@</span><span style=";font-family:宋体">物联网产业跨界交流（</span><a
                            href="http://mp.weixin.qq.com/s?__biz=MjM5NjE2NzQxNA==&mid=203862539&idx=1&sn=f181b1207fe7f4cf03ea15bf0e3e7955&scene=1&key=b2574200810f04e8b64c0cc0e01e8171478b5ce7fba2b9fd644087ca9e76742462ad35530e2970720ad7d66477f2670d&ascene=1&uin=MzIwNTcwMTM1&devicetype=Windo"><span
                            style=";font-family:宋体">链接点我</span></a><span style=";font-family:宋体">）</span>
                    </p>
                    <!--    <p>
                            <span style=";font-family:;Times New Roman;,;serif;"><img src="/server/ueditor/upload/image/demo.jpg" title="" alt="demo.jpg"/></span>
                        </p>-->
                    <p>
                        <span style="font-size:16px;font-family:;Times New Roman;,;serif;;background:lightgrey;background:lightgrey"><br
                                clear="all" style="page-break-before:always"/> </span>
                    </p>

                    <p style="margin-left:0;text-align:justify;text-justify:inter-ideograph;text-indent:0">
                        <span style=";font-family:'Times New Roman','serif'">3、</span><span
                            style=";font-family:'Times New Roman','serif'">IT</span><span
                            style=";font-family:宋体">桔子数据库（</span><a href="http://itjuzi.com/company/16576"><span
                            style=";font-family:宋体">链接点我</span></a><span style=";font-family:宋体">）</span>
                    </p>
                    <!--    <p>
                            <span style=";font-family:;Times New Roman;,;serif;"><img src="/server/ueditor/upload/image/demo.jpg" title="" alt="demo.jpg"/></span>
                        </p>-->
                </div>
        </div>
    </div>